<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>选择跳转</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/people_info.css">
<style>
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 3px;
}

p {
    margin: 0;
}
#informationUl li{
    margin:6px;
    font-size:16px;
}
#serachAll{
    margin-left:10px;
    margin-top:10px;
}
</style>
</head>
<body>
<nav class="navbar-my col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <img class="logo-img" src="images/logo.png" alt="logo">
    <div class="navbar-header-my navbar-header ">
        <span class="logo">派出所基础警务派单平台</span>
    </div>

    <div class="logout" >
        <p class="navbar-icon navbar-text navbar-right text-right">
            <a href="index.html" class="navbar-link"><span class="icomoon">&#xe900;</span></a>
            <a href="#" class="navbar-link"><span class="icomoon">&#xe905;</span></a>
            <a href="#" class="navbar-link"><span class="icomoon">&#xe908;</span></a>
            <a href="login.html" class="navbar-link"><span class="icomoon">&#xe90b;</span></a>
        </p>
        <div id="admin" class="admin pull-right"></div>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="main">
    <div class="check-log-box1">
         <ul id="informationUl">
         </ul>
         <div id="serachAll">
         </div>
       </div>
    </div>
</div>
</body>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/police.js"></script>
<script type="text/javascript">
 admin();
 if(window.location.href.split("?")[1].split("=")[0] == "policeId"){
    focusNum(window.location.href.split("?")[1].split("=")[1]);
    console.log(window.location.href.split("?")[1].split("=")[1],"","")
 }
 
  if(window.location.href.split("?")[1].split("=")[0] == "commId"){
	  
    focusNum("",window.location.href.split("?")[1].split("=")[1],"");
    console.log(window.location.href.split("?")[1].split("=")[1])
 }
   if(window.location.href.split("?")[1].split("=")[0] == "builId"){
    focusNum("","",window.location.href.split("?")[1].split("=")[1]);
    console.log(window.location.href.split("?")[1].split("=")[1])
 }
 </script>
</html>