<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hdu.lab.checkIn.mapper.SysParamMapper" >
  <resultMap id="BaseResultMap" type="edu.hdu.lab.checkIn.model.SysParam" >
    <id column="PARA_ID" property="paraId" jdbcType="INTEGER" />
    <result column="PARA_NAME" property="paraName" jdbcType="VARCHAR" />
    <result column="PARA_VALUE" property="paraValue" jdbcType="VARCHAR" />
    <result column="RAMARK" property="ramark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARA_ID, PARA_NAME, PARA_VALUE, RAMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.hdu.lab.checkIn.model.SysParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sysparam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysparam
    where PARA_ID = #{paraId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysparam
    where PARA_ID = #{paraId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.hdu.lab.checkIn.model.SysParamExample" >
    delete from sysparam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.hdu.lab.checkIn.model.SysParam" >
    insert into sysparam (PARA_ID, PARA_NAME, PARA_VALUE, 
      RAMARK)
    values (#{paraId,jdbcType=INTEGER}, #{paraName,jdbcType=VARCHAR}, #{paraValue,jdbcType=VARCHAR}, 
      #{ramark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.hdu.lab.checkIn.model.SysParam" >
    insert into sysparam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paraId != null" >
        PARA_ID,
      </if>
      <if test="paraName != null" >
        PARA_NAME,
      </if>
      <if test="paraValue != null" >
        PARA_VALUE,
      </if>
      <if test="ramark != null" >
        RAMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paraId != null" >
        #{paraId,jdbcType=INTEGER},
      </if>
      <if test="paraName != null" >
        #{paraName,jdbcType=VARCHAR},
      </if>
      <if test="paraValue != null" >
        #{paraValue,jdbcType=VARCHAR},
      </if>
      <if test="ramark != null" >
        #{ramark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.hdu.lab.checkIn.model.SysParamExample" resultType="java.lang.Integer" >
    select count(*) from sysparam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sysparam
    <set >
      <if test="record.paraId != null" >
        PARA_ID = #{record.paraId,jdbcType=INTEGER},
      </if>
      <if test="record.paraName != null" >
        PARA_NAME = #{record.paraName,jdbcType=VARCHAR},
      </if>
      <if test="record.paraValue != null" >
        PARA_VALUE = #{record.paraValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ramark != null" >
        RAMARK = #{record.ramark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sysparam
    set PARA_ID = #{record.paraId,jdbcType=INTEGER},
      PARA_NAME = #{record.paraName,jdbcType=VARCHAR},
      PARA_VALUE = #{record.paraValue,jdbcType=VARCHAR},
      RAMARK = #{record.ramark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.hdu.lab.checkIn.model.SysParam" >
    update sysparam
    <set >
      <if test="paraName != null" >
        PARA_NAME = #{paraName,jdbcType=VARCHAR},
      </if>
      <if test="paraValue != null" >
        PARA_VALUE = #{paraValue,jdbcType=VARCHAR},
      </if>
      <if test="ramark != null" >
        RAMARK = #{ramark,jdbcType=VARCHAR},
      </if>
    </set>
    where PARA_ID = #{paraId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.hdu.lab.checkIn.model.SysParam" >
    update sysparam
    set PARA_NAME = #{paraName,jdbcType=VARCHAR},
      PARA_VALUE = #{paraValue,jdbcType=VARCHAR},
      RAMARK = #{ramark,jdbcType=VARCHAR}
    where PARA_ID = #{paraId,jdbcType=INTEGER}
  </update>
</mapper>